@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body::-webkit-scrollbar {
    width: 0.4em;
    background-color: #18181c;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #2a2e3d;
    scrollbar-gutter: stable;
    border-radius: 40px;
  }
}